.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr; 
}

.sub_head {
  font-weight: bold;
  font-size: 30px;
}

.issue { 
  text-align: left;
  padding: 20px 50px;
}

.issue_head {
  font-weight: bold;
  font-size: 20px;
}

.create_issue {
  display: grid;
  grid-template-rows: 1fr;
  gap: 30px;
  width: 300px;
  margin: 0 auto;
}

.text_desc {
  height: 300px;
  font-family: 'Helvetica Neue', sans-serif
}